# Ignore node modules (dependencies)
node_modules/

# Ignore build output
dist/

# Ignore TypeScript cache
*.tsbuildinfo

#Ignore environment variables and logs
.env
!.env.example
*.log
logs/

# Ignore IDE-specific files
.vscode/
.idea/

# OS-specific junk
.DS_Store
Thumbs.db

# Test coverage reports
/coverage/

# Jest cache
/.jest/

# Environment files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*